{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}
<h1 class="headline">{{spreadsheet.options.title}}</h1>
<div class="main-image"><img src="images/{{spreadsheet.options.mainpic}}" alt="{{spreadsheet.options.person}}"/></div>
<div class="content" class="o-grid-row">

  <div id="people">
      {% for group in groups %}
          <div class="people-group {{ group.id }}">
            <div class="group-heading">{{ group.title }}</div>

            {% for person in group.people %}
            <div class="card">
            	{% if person.picurl %}<div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2F{{person.picurl}}?source=ig&width=200&height=200" class="card__img" alt="{{name}}" /></div>	{% endif %}
            	<div class="card__body">
                  <p class="year">{{person.year}}</p>
            			<h3 class="card__title name">{{person.name}}</h3>
            			<p class="job">{{person.description}}</p>
            			<p class="standfirst">{{person.headline}}</p>
            	</div>
            	{% if person.linkurl %}<a class="story-promo" href="{{person.linkurl}}"><span class="link">Full profile</span></a>{% endif %}
            </div>
            {% endfor %}
          </div>
      {% endfor %}
  </div>

</div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status=Who has most shaped world events this year? The Financial Times names the Person of the Year ft.com/person">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=ft.com/person">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.ft.com/person&amp;title=The Financial Times names the Person of the Year&amp;summary=Who has most shaped world events this year? Whose name has been on everyone's lips? Who will be most associated with this year in people's memories?&amp;source=FT.com">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>





<div class="byline">
    <div class="byline__credit"><span class="by">Graphic by: </span><a href="https://twitter.com/sdbernard">Steve Bernard</a>, <a href="https://twitter.com/carolinenevitt">Caroline Nevitt</a>, <a href="http://search.ft.com/search?queryText=%22Moritz+Eichhorn%22">Moritz Eichhorn</a>, <a href="https://twitter.com/alekswis">Aleks Wisniewska</a>, <a href="https://twitter.com/martinstabe">Martin Stabe</a> and <a href="http://search.ft.com/search?queryText=%22Anna+Dedhar%22">Anna Dedhar</a></div>
    <div class="byline__source"><span class="source">Sources: </span>Getty Images; Bloomberg; Reuters; FT Research</div>
</div>
{% endblock %}
