{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<h1 class="headline">FT Person of the Year</h1>
<div class="main-image"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fdonald-trump.jpg?source=ig" alt="Donald Trump"></div>
<div class="content">
    <div id="people">
        <div class="people-group winner">
            <div class="group-heading">2016: the winner</div>
            <div class="card">

                <div class="card__body">
                    <p class="year">2016</p>
                    <h3 class="card__title name">Donald Trump</h3>
                    <p class="job">President-elect of the United States</p>
                    <p class="standfirst">Donald Trump did not upend US democracy on November 8, 2016. It has been dysfunctional for years. It is no coincidence that Mr Trump’s victory took place in the same year as Brexit, the No vote in the Italian referendum and other populist eruptions across the western world.</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/b7bb61ec-c054-11e6-81c2-f57d90f6741a"><span class="link">Full profile</span></a>
            </div>
        </div>
        <div class="people-group runnerup">
            <div class="group-heading">The runners up</div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fomran-daqneesh-2016.png?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Omran Daqneesh"></div>
                <div class="card__body">
                    <p class="year">2016</p>
                    <h3 class="card__title name">Omran Daqneesh</h3>
                    <p class="job">Resident of Aleppo</p>
                    <p class="standfirst">For a brief moment on August 17, 2016, five-year-old Omran Daqneesh reminded the world of its own numbness to the tragedy ripping apart Syria’s ancient city of Aleppo - and a war that has shaken the Middle East and sent its shock waves across the world.</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/5e2fe8fc-be3b-11e6-8b45-b8b81dd5d080"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fnigel-farage.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Nigel Farage"></div>
                <div class="card__body">
                    <p class="year">2016</p>
                    <h3 class="card__title name">Nigel Farage</h3>
                    <p class="job">Former UK Independence party leader</p>
                    <p class="standfirst">Nigel Farage became the face of a populist movement sweeping Europe by laying the ground for the Brexit victory before he was co-opted by Donald Trump, who told cheering rallies that he would “do a Brexit” and seize the keys to the White House.</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/ab8b3b98-be3a-11e6-8b45-b8b81dd5d080"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fnarendra-modi.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Narendra Modi"></div>
                <div class="card__body">
                    <p class="year">2016</p>
                    <h3 class="card__title name">Narendra Modi</h3>
                    <p class="job">Indian prime minister</p>
                    <p class="standfirst">On November 8, Narenda Modi declared an immediate ban on the use of Rs500 and Rs1,000 notes – 86% percent of India’s circulating cash supply in a highly cash-driven economy. Indians are now grappling with an unprecedented and highly-disruptive experiment, whose outcome will be studied by economists for years to come.</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/7f622798-be3a-11e6-8b45-b8b81dd5d080"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fangela-merkel-2016b.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Angela Merkel"></div>
                <div class="card__body">
                    <p class="year">2016</p>
                    <h3 class="card__title name">Angela Merkel</h3>
                    <p class="job">German chancellor</p>
                    <p class="standfirst">For Angela Merkel, 2016 was another dramatic year which put her centre-stage in global affairs and left her facing calls to take over outgoing US president Barack Obama’s mantle as the leader of the western world.</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/653302ca-be3a-11e6-8b45-b8b81dd5d080"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fmasayoshi-son.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Masayoshi Son"></div>
                <div class="card__body">
                    <p class="year">2016</p>
                    <h3 class="card__title name">Masayoshi Son</h3>
                    <p class="job">Founder and CEO of Softbank</p>
                    <p class="standfirst">Less than a month after Britain voted to leave the EU, Masayoshi Son, the risk-addicted billionaire who built Japan’s SoftBank into a global internet powerhouse, clinched a deal to acquire UK chip designer Arm Holdings for £24.3bn. But this audacious deal was only the first for Mr Son.</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/49b979d4-be3a-11e6-8b45-b8b81dd5d080"><span class="link">Full profile</span></a>
            </div>
        </div>

        <div style="max-width:600px;margin:0 auto 30px">
        {# START MID AD SLOT
            You can move this wherever it works best in your page's design.
            For more control over the size, write your own o-ads div - see
            https://financial-times.github.io/o-ads/docs/developer-guide/display #}
        {% if flags.ads %}{{ macros.middleAd() }}{% endif %}
        {# END MID AD SLOT #}
        </div>

        <div class="people-group previous">
            <div class="group-heading">previous winners</div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fangela-merkel-2015.png?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Angela Merkel"></div>
                <div class="card__body">
                    <p class="year">2015</p>
                    <h3 class="card__title name">Angela Merkel</h3>
                    <p class="job">German Chancellor</p>
                    <p class="standfirst">The cautious, “step-by-step” Chancellor who has led Germany for a decade has gone, replaced by a politician with bold convictions and the political capital to pursue them</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/2/ffb1edb2-9db5-11e5-b45d-4812f209f861.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Ftim-cook.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Tim Cook"></div>
                <div class="card__body">
                    <p class="year">2014</p>
                    <h3 class="card__title name">Tim Cook</h3>
                    <p class="job">CEO of Apple</p>
                    <p class="standfirst">The Apple chief has faced criticism of his early stewardship of the company, but in 2014 he stamped his identity on the business, which saw its valuation reach as much as $700bn</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/2/4064a6fe-7fd7-11e4-adff-00144feabdc0.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjack-ma.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Jack Ma"></div>
                <div class="card__body">
                    <p class="year">2013</p>
                    <h3 class="card__title name">Jack Ma</h3>
                    <p class="job">CEO of Alibaba</p>
                    <p class="standfirst">The billionaire determined to transform his country, even if it means stepping down as Alibaba’s chief executive to devote himself to tackling some of China’s biggest problems – in particular its looming environmental disaster</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/2/308e46a8-6189-11e3-916e-00144feabdc0.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fmario-draghi.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Mario Draghi"></div>
                <div class="card__body">
                    <p class="year">2012</p>
                    <h3 class="card__title name">Mario Draghi</h3>
                    <p class="job">ECB President</p>
                    <p class="standfirst">The Italian willing to do “whatever it takes” to save the Euro has managed to defend the currency union for now</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/8fca75b8-4535-11e2-838f-00144feabdc0.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fmohamed-bouazizi.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Mohamed Bouazizi"></div>
                <div class="card__body">
                    <p class="year">2011</p>
                    <h3 class="card__title name">Mohamed Bouazizi</h3>
                    <p class="job">Representative of the Arab youth.</p>
                    <p class="standfirst">The Arab youth have defied cliches and clampdowns to fracture an adamantine order. The street vendor whose self-immolation initiated the Arab Spring was their most visible symbol</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/de1e960a-2b36-11e1-a9e4-00144feabdc0.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fsteve-jobs.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Steve Jobs"></div>
                <div class="card__body">
                    <p class="year">2010</p>
                    <h3 class="card__title name">Steve Jobs</h3>
                    <p class="job">Co-founder and CEO of Apple</p>
                    <p class="standfirst">With the iPad following the success of the iPod and iPhone, the Silicon Valley visionary's dream of small screens was putting Apple back on top</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/f01db172-0e06-11e0-86e9-00144feabdc0.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Flloyd-blankfein.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Lloyd Blankfein"></div>
                <div class="card__body">
                    <p class="year">2009</p>
                    <h3 class="card__title name">Lloyd Blankfein</h3>
                    <p class="job">CEO of Goldman Sachs</p>
                    <p class="standfirst">By the end of 2009 the Goldman Sachs chief executive had navigated the global financial crisis better than others on Wall Street and was set to make record profits</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/461a75c4-f02b-11de-833d-00144feab49a.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fbarack-obama.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Barack Obama"></div>
                <div class="card__body">
                    <p class="year">2008</p>
                    <h3 class="card__title name">Barack Obama</h3>
                    <p class="job">President-elect of the US</p>
                    <p class="standfirst">The historic election of the first African-American president defied sceptics, inspired a nation and revived confidence in the power of US democracy</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/7d93a336-d02e-11dd-ae00-000077b07658.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjean-claude-trichet.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Jean-Claude Trichet"></div>
                <div class="card__body">
                    <p class="year">2007</p>
                    <h3 class="card__title name">Jean-Claude Trichet</h3>
                    <p class="job">ECB President</p>
                    <p class="standfirst">The European Central Bank president steered a confident path through the choppy waters of 2007's credit crisis</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/af1a4d9e-b1ba-11dc-9777-0000779fd2ac.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Flakshmi-mittal.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Lakshmi Mittal"></div>
                <div class="card__body">
                    <p class="year">2006</p>
                    <h3 class="card__title name">Lakshmi Mittal</h3>
                    <p class="job">CEO of Arcelor Mittal</p>
                    <p class="standfirst">The Indian steel entrepreneur enjoyed a challenge, from skiing uphill to building the world's largest steel group in a series of daring raids</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/743d131a-922a-11db-a945-0000779e2340.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fsergey-brin-and-larry-page.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Sergey Brin &amp; Larry Page"></div>
                <div class="card__body">
                    <p class="year">2005</p>
                    <h3 class="card__title name">Sergey Brin &amp; Larry Page</h3>
                    <p class="job">Founders of Google</p>
                    <p class="standfirst">The single-minded technologists who founded the business of a generation</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/1/0a81664a-7324-11da-8b42-0000779e2340.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Feliot-spitzer.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Eliot Spitzer"></div>
                <div class="card__body">
                    <p class="year">2004</p>
                    <h3 class="card__title name">Eliot Spitzer</h3>
                    <p class="job">New York Attorney-General</p>
                    <p class="standfirst">The New York state attorney-general took on big business and Democrats smelled a winner as he began wooing voters</p>
                </div>
                <a class="story-promo" href="http://www.ft.com/cms/s/0/4928a9aa-5550-11d9-9974-00000e2511c8.html"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjeffrey-immelt.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Jeffrey Immelt"></div>
                <div class="card__body">
                    <p class="year">2003</p>
                    <h3 class="card__title name">Jeffrey Immelt</h3>
                    <p class="job">CEO of General Electric</p>
                    <p class="standfirst">The friendly face of American capitalism in a cynical and dangerous era was no showbiz CEO but led by example with his remodelling of General Electric</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fgeorge-w-bush.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="George W Bush"></div>
                <div class="card__body">
                    <p class="year">2002</p>
                    <h3 class="card__title name">George W Bush</h3>
                    <p class="job">43rd President of the US</p>
                    <p class="standfirst">The American president defied sceptics by gaining a rare degree of dominance in domestic politics while persuading other nations to support his war on terrorism and the US campaign against Saddam Hussein</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fhoward-lutnick.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Howard Lutnick"></div>
                <div class="card__body">
                    <p class="year">2001</p>
                    <h3 class="card__title name">Howard Lutnick</h3>
                    <p class="job">CEO of Cantor Fitzgerald and BGC Partners</p>
                    <p class="standfirst">The chairman of Cantor Fitzgerald used to be more respected than liked but September 11, which devastated his bond broking firm, gave him a higher motive to make money</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fcraig-venter.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Craig Venter"></div>
                <div class="card__body">
                    <p class="year">2000</p>
                    <h3 class="card__title name">Craig Venter</h3>
                    <p class="job">Biochemist and enterpreneur</p>
                    <p class="standfirst">The pivotal figure in the decoding of the human genome was a Californian with an unwavering determination to achieve his scientific goals</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjohn-von-neumann.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="John von Neumann"></div>
                <div class="card__body">
                    <p class="year">1999</p>
                    <h3 class="card__title name">John von Neumann</h3>
                    <p class="job">Polymath and inventor</p>
                    <p class="standfirst">With contributions to mathematics, the atom bomb and the computer, the FT Person of the Century encompassed the intellectual brilliance and human savagery that defined our times</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Falan-greenspan.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Alan Greenspan"></div>
                <div class="card__body">
                    <p class="year">1998</p>
                    <h3 class="card__title name">Alan Greenspan</h3>
                    <p class="job">Chairman of the Federal Reserve (1987-2006)</p>
                    <p class="standfirst">The Federal Reserve chairman acted as the guardian angel of the financial markets and so preserved the American boom</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Ftony-blair.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Tony Blair"></div>
                <div class="card__body">
                    <p class="year">1997</p>
                    <h3 class="card__title name">Tony Blair</h3>
                    <p class="job">Prime Minister of the UK (1997-2007)</p>
                    <p class="standfirst">The New Labour prime minister started to change Britain substantially in his first year in office</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Frupert-murdoch.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Rupert Murdoch"></div>
                <div class="card__body">
                    <p class="year">1996</p>
                    <h3 class="card__title name">Rupert Murdoch</h3>
                    <p class="job">Founder and CEO of News Corp</p>
                    <p class="standfirst">At 65, an age when most business executives reach retirement, the media mogul laid the foundations for a global digital broadcasting business, becoming the biggest owner of television stations in the US and launching Fox News</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fbill-gates.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Bill Gates"></div>
                <div class="card__body">
                    <p class="year">1994</p>
                    <h3 class="card__title name">Bill Gates</h3>
                    <p class="job">Co-founder and CEO of Microsoft</p>
                    <p class="standfirst">As Microsoft became the world's largest software publisher, Mr Gates' every pronouncement was scrutinised by the computer industry and analysed by investors</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fedouard-balladur.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Edouard Balladur"></div>
                <div class="card__body">
                    <p class="year">1993</p>
                    <h3 class="card__title name">Edouard Balladur</h3>
                    <p class="job">Prime Minister of France (1993-1995)</p>
                    <p class="standfirst">Calm in the face of record unemployment, he steered France towards the euro and was the most popular politician in the west</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fdeng-xiaoping.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Deng Xiaoping"></div>
                <div class="card__body">
                    <p class="year">1992</p>
                    <h3 class="card__title name">Deng Xiaoping</h3>
                    <p class="job">Leader of the People's Republic of China</p>
                    <p class="standfirst">Though a politician without any formal position, the force of his character was driving China towards the free market</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjames-baker.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="James Baker"></div>
                <div class="card__body">
                    <p class="year">1991</p>
                    <h3 class="card__title name">James Baker</h3>
                    <p class="job">Secretary of State of the US (1989-1992)</p>
                    <p class="standfirst">During the greatest political upheavel since the Bolshevik revolution, the US Secreatry of State was a force for stability around the world</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fhelmut-kohl.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Helmut Kohl"></div>
                <div class="card__body">
                    <p class="year">1990</p>
                    <h3 class="card__title name">Helmut Kohl</h3>
                    <p class="job">German Chancellor (1982-1998)</p>
                    <p class="standfirst">The architect of reunification led his people from an unbloody revolution to a new Germany</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fmikhail-gorbachev.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Mikhail Gorbachev"></div>
                <div class="card__body">
                    <p class="year">1989</p>
                    <h3 class="card__title name">Mikhail Gorbachev</h3>
                    <p class="job">(Man of the Decade) Leader of the Soviet Union (1985-1991)</p>
                    <p class="standfirst">His thinking earned him much of the credit for the end of the Cold War</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fkkr.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Henry Kravis &amp; George Roberts"></div>
                <div class="card__body">
                    <p class="year">1988</p>
                    <h3 class="card__title name">Henry Kravis &amp; George Roberts</h3>
                    <p class="job">Founders of KKR</p>
                    <p class="standfirst">The two men who virtually invented the the leveraged buyout took the art of borrowing to new heights</p>
                </div>
                <a class="story-promo" href="https://www.ft.com/content/1bc434d8-b638-11e6-ba85-95d1533d9a62"><span class="link">Full profile</span></a>
            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fmargaret-thatcher.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Margaret Thatcher"></div>
                <div class="card__body">
                    <p class="year">1987</p>
                    <h3 class="card__title name">Margaret Thatcher</h3>
                    <p class="job">Prime Minister of the UK (1979-1990)</p>
                    <p class="standfirst">The FT's first Woman of the Year was the prime minister who kept winning against all odds</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fyasuhiro-nakasone.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Yasuhiro Nakasone"></div>
                <div class="card__body">
                    <p class="year">1986</p>
                    <h3 class="card__title name">Yasuhiro Nakasone</h3>
                    <p class="job">Prime Minister of Japan (1982-1987)</p>
                    <p class="standfirst">He legally and quietly accomplished reforms that had previously been considered impossible in Japan</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fmikhail-gorbachev.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Mikhail Gorbachev"></div>
                <div class="card__body">
                    <p class="year">1985</p>
                    <h3 class="card__title name">Mikhail Gorbachev</h3>
                    <p class="job">Leader of the Soviet Union (1985-1991)</p>
                    <p class="standfirst">A new type of Soviet leader emerged to end years of leadership crises in the Kremlin</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Falbert-hall.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Albert Hall"></div>
                <div class="card__body">
                    <p class="year">1984</p>
                    <h3 class="card__title name">Albert Hall</h3>
                    <p class="job">(representative of) the Army of Unemployed</p>
                    <p class="standfirst">As joblessness stalked the UK and most of the western world, an unemployed musician vows “not to let the bastards get you down”</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjohn-opel.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="John Opel"></div>
                <div class="card__body">
                    <p class="year">1983</p>
                    <h3 class="card__title name">John Opel</h3>
                    <p class="job">CEO of IBM (1981-1985)</p>
                    <p class="standfirst">“Beliefs are imperatives” said the chief who led computer giant's remarkable bounce-back</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fgeorge-shultz.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="George Shultz"></div>
                <div class="card__body">
                    <p class="year">1982</p>
                    <h3 class="card__title name">George Shultz</h3>
                    <p class="job">Secretary of State of the US (1982-1989)</p>
                    <p class="standfirst">Political leader who reversed the disintegration of the western alliance</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Ffrancois-mitterrand.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Francois Mitterrand"></div>
                <div class="card__body">
                    <p class="year">1981</p>
                    <h3 class="card__title name">Francois Mitterrand</h3>
                    <p class="job">French President (1981-1995)</p>
                    <p class="standfirst">The perpetual loser triumphed as the country's first directly elected Socialist leader</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Flech-walesa.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Lech Walesa"></div>
                <div class="card__body">
                    <p class="year">1980</p>
                    <h3 class="card__title name">Lech Walesa</h3>
                    <p class="job">Leader of the Solidarnosc movement</p>
                    <p class="standfirst">Then a 37-year-old unemployed electrician, Mr Walesa had already become the globally-recognised face of Poland's revolt against a corrupt and incompetent system</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fdeng-xiaoping.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Deng Xiaoping"></div>
                <div class="card__body">
                    <p class="year">1978</p>
                    <h3 class="card__title name">Deng Xiaoping</h3>
                    <p class="job">Senior Vice-Premier of the People's Republic of China</p>
                    <p class="standfirst">After a year of rapidly growing diplomatic contacts and foreign tours, his intervention in the last days of talks on the normalisation of relations with the United States finally achieved the historic agreement to exchange ambassadors</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fanwar-sadat.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Anwar Sadat"></div>
                <div class="card__body">
                    <p class="year">1977</p>
                    <h3 class="card__title name">Anwar Sadat</h3>
                    <p class="job">President of Egypt (1970-1981)</p>
                    <p class="standfirst">Pursuing peace the Egyptian president was the first Arab leader to visit Israel officially and speak before the Knesset</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjimmy-carter.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Jimmy Carter"></div>
                <div class="card__body">
                    <p class="year">1976</p>
                    <h3 class="card__title name">Jimmy Carter</h3>
                    <p class="job">39th President of the US (1977-1981)</p>
                    <p class="standfirst">In the course of 1976, the obscure peanut wholesaler and Georgia governor rose to become president of the United States</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fhelmut-schmidt.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Helmut Schmidt"></div>
                <div class="card__body">
                    <p class="year">1975</p>
                    <h3 class="card__title name">Helmut Schmidt</h3>
                    <p class="job">German Chancellor (1974-1982)</p>
                    <p class="standfirst">Helmut Schmidt gained worldwide respect in his first two years as Chancellor of West Germany, particularly for his handling of the recession and high unemployment that he faced when he came to office</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fharold-wilson.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Harold Wilson"></div>
                <div class="card__body">
                    <p class="year">1974</p>
                    <h3 class="card__title name">Harold Wilson</h3>
                    <p class="job">Prime Minister of the UK (1964-70 and 1974-76)</p>
                    <p class="standfirst">The FT conceded that the choice would be seen by some as “more than a little eccentric”, but argued that after winning two general elections Harold Wilson “may very well be about the most convincing leader that Western democracy can display at the present time”</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fking-faisal.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="King Faisal"></div>
                <div class="card__body">
                    <p class="year">1973</p>
                    <h3 class="card__title name">King Faisal</h3>
                    <p class="job">King of Saudi Arabia</p>
                    <p class="standfirst">The austere and inscrutable Saudi monarch was a key figure in the oil crisis, agreeing to use the “oil weapon” and providing aid for Egypt and Syria ahead of the October 1973 Arab–Israeli War</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fhenry-kissinger.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Henry Kissinger"></div>
                <div class="card__body">
                    <p class="year">1972</p>
                    <h3 class="card__title name">Henry Kissinger</h3>
                    <p class="job">Secretary of State of the US (1973-1977)</p>
                    <p class="standfirst">The year when the former professor emerged to world-wide eminence in diplomacy by improving US relations with China and the Soviet Union, ended with his reputation in the balance as negotiations began towards a ceasefire in Vietnam</p>
                </div>

            </div>
            <div class="card">
                <div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2Fjean-rey.jpg?source=ig&amp;width=200&amp;height=200" class="card__img" alt="Jean Rey"></div>
                <div class="card__body">
                    <p class="year">1970</p>
                    <h3 class="card__title name">Jean Rey</h3>
                    <p class="job">First President of the European Commission</p>
                    <p class="standfirst">The organ-playing Belgian was the man British ministers faced across the negotiating table during talks on entry to the European Common Market</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="share-links-holder">
    <div class="share-links">
        <ul>
            <li>
                <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status=Who has most shaped world events this year? The Financial Times names the Person of the Year ft.com/person">
                    <span>Twitter</span>
                </a>
            </li>
            <li>
                <a class="share-links__link share-links__link--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=ft.com/person">
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a class="share-links__link share-links__link--linked-in" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.ft.com/person&amp;title=The Financial Times names the Person of the Year&amp;summary=Who has most shaped world events this year? Whose name has been on everyone's lips? Who will be most associated with this year in people's memories?&amp;source=FT.com">
                    <span>LinkedIn</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="byline">
    <div class="byline__credit"><span class="by">Graphic by: </span><a href="https://twitter.com/sdbernard">Steve Bernard</a>, <a href="https://twitter.com/carolinenevitt">Caroline Nevitt</a>, <a href="http://search.ft.com/search?queryText=%22Moritz+Eichhorn%22">Moritz Eichhorn</a>, <a href="https://twitter.com/alekswis">Aleks Wisniewska</a>, <a href="https://twitter.com/martinstabe">Martin Stabe</a> and <a href="http://search.ft.com/search?queryText=%22Anna+Dedhar%22">Anna Dedhar</a></div>
    <div class="byline__source"><span class="source">Sources: </span>Getty Images; Bloomberg; Reuters; FT Research</div>
</div>
{% endblock %}
