{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}
<h1 class="headline">{{spreadsheet.options.title}}</h1>
<div class="main-image"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/{{spreadsheet.options.mainpic | urlencode}}?source=ig&width=800" alt="{{spreadsheet.options.person}}"/></div>
<div class="content" class="o-grid-row">

  <div id="people">
      {% for group in groups %}

          {% if group.showAdBefore %}
          <div style="max-width:600px;margin:30px auto">
          {# START MID AD SLOT
              You can move this wherever it works best in your page's design.
              For more control over the size, write your own o-ads div - see
              https://financial-times.github.io/o-ads/docs/developer-guide/display #}
          {% if flags.ads %}{{ macros.middleAd() }}{% endif %}
          {# END MID AD SLOT #}
          </div>
          {% endif %}

          <div class="people-group {{ group.id }}">
            <div class="group-heading">{{ group.title }}</div>

            {% for person in group.people %}
            <div class="card">
            	{% if person.picurl %}<div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/{{person.picurl | urlencode}}?source=ig&amp;width=200" class="card__img" alt="{{name}}" /></div>	{% endif %}
            	<div class="card__body">
                  <p class="year">{{person.year}}</p>
            			<h3 class="card__title name">{{person.name}}</h3>
            			<p class="job">{{person.description}}</p>
            			<p class="standfirst">{{person.headline}}</p>
            	</div>
            	{% if person.linkurl %}<a class="story-promo" href="{{person.linkurl}}"><span class="link">Full profile</span></a>{% endif %}
            </div>
            {% endfor %}
          </div>
      {% endfor %}
  </div>

</div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status=Who has most shaped world events this year? The Financial Times names the Person of the Year ft.com/person">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=ft.com/person">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.ft.com/person&amp;title=The Financial Times names the Person of the Year&amp;summary=Who has most shaped world events this year? Whose name has been on everyone's lips? Who will be most associated with this year in people's memories?&amp;source=FT.com">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="byline">
    <div class="byline__credit"><span class="by">Graphic by: </span><a href="https://www.ft.com/steve-bernard">Steve Bernard</a>, <a href="https://www.ft.com/caroline-nevitt">Caroline Nevitt</a>, <a href="https://www.ft.com/search?q=%22Moritz+Eichhorn%22">Moritz Eichhorn</a>, <a href="https://www.ft.com/aleksandra-wisniewska">Aleksandra Wisniewska</a>, <a href="https://www.ft.com/martin-stabe">Martin Stabe</a>, <a href="https://www.ft.com/search?q=%22Anna+Dedhar%22">Anna Dedhar</a>, and <a href="https://www.ft.com/callum-locke">Callum Locke</a></div>
    <div class="byline__source"><span class="source">Sources: </span>Getty Images; Bloomberg; Reuters; FT Research</div>
</div>
{% endblock %}
