<h1 class="headline">{{options.title}}</h1>
<div class="main-image"><img src="images/{{options.mainpic}}" alt=""/></div>
<div class="content" class="o-grid-row"></div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status=Isis oil economy: The journey of a barrel of oil across Syria ft.com/isis-oil ">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=ft.com/isis-oil">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.ft.com/isis-oil&amp;title=Isis oil economy: The journey of a barrel of oil across Syria&amp;summary=Follow the journey of a barrel of oil from the oilfield to refinery and markets to see how the Isis production system works, who is making money money from it, and why it is proving so challenging to disrupt&amp;source=FT.com">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="byline"></div>